Agent/workflows/automation/Automate multi-modal appointment booking via WhatsApp using GPT-4 and Calcom.json
{
  "name": "Automate multi-modal appointment booking via WhatsApp using GPT-4 and Calcom",
  "nodes": [
    {
      "parameters": {
        "jsCode": "/**\n * n8n – Code node\n * Mode : Run Once for All Items\n * Objectif :\n *   1. Repère **gras** ou *gras*\n *   2. Convertit le contenu en lettres \"Unicode Bold\"\n *   3. Supprime tous les astérisques\n */\n\nconst FIELD = 'output'; // ← mets ici le nom exact du champ texte\n\n// --- petite fonction de conversion ASCII → Unicode gras\nfunction toUnicodeBold(str) {\n  const upperOffset = 0x1D400 - 0x41;      // A → 𝐀\n  const lowerOffset = 0x1D41A - 0x61;      // a → 𝐚\n  const digitOffset = 0x1D7CE - 0x30;      // 0 → 𝟎\n\n  return str.split('').map(ch => {\n    const code = ch.charCodeAt(0);\n    if (code >= 0x41 && code <= 0x5A) return String.fromCodePoint(code + upperOffset); // A-Z\n    if (code >= 0x61 && code <= 0x7A) return String.fromCodePoint(code + lowerOffset); // a-z\n    if (code >= 0x30 && code <= 0x39) return String.fromCodePoint(code + digitOffset); // 0-9\n    return ch; // ponctuation, espaces…\n  }).join('');\n}\n\nfor (const item of $input.all()) {\n  if (item.json[FIELD]) {\n    item.json[FIELD] = item.json[FIELD]\n      // ► 1. **…**  ou *…*  → conversion + suppression d’astérisques\n      .replace(/\\*{1,2}([^*]+?)\\*{1,2}/gs, (_, txt) => toUnicodeBold(txt))\n\n      // ► 2. S’il reste des astérisques isolés → on les retire\n      .replace(/\\*/g, '');\n  }\n}\n\nreturn $input.all();"
      },
      "id": "fbeec555-0395-4f75-a6f6-70785157406e",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        2848,
        512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "dcd6ba1a-db41-4e8e-8ea7-083b16680fc5",
      "name": "Split out message1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        416,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "584171c6-5842-41a4-ae70-b901457d1b43",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{$json.type == 'audio' && Boolean($json.audio)}}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b12ff3af-0aae-4874-9c16-37f0337bf214",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{$json.type == 'image' && Boolean($json.image)}}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image Message"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Text Message"
        }
      },
      "id": "5faa67c4-8b33-4f4a-9e3f-ae2494064770",
      "name": "Identify and ReRoute Message Types1",
      "type": "n8n-nodes-base.switch",
      "position": [
        720,
        496
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "850d6c32-cb5b-4fa2-9876-a96a0bbb5569",
      "name": "Send message",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        3120,
        512
      ],
      "webhookId": "891ef88f-6c8a-4701-bf44-51d59793da2f",
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "653531f0-4d47-4915-b808-d0343e9a120d",
      "name": "Audio Transcriber",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1584,
        320
      ],
      "retryOnFail": true,
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "text": "Here is an image sent by the user. Describe the image and transcribe any text visible in the image. Put in as much detail as possible. But only and always in French Language.",
        "inputType": "base64",
        "options": {}
      },
      "id": "fa362621-4574-4842-84ad-4b4934d9f6b7",
      "name": "Analyze image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1584,
        512
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.audio.id }}"
      },
      "id": "5964ffe2-af5f-48ce-bea4-3cfc7db1be7d",
      "name": "Get Audio URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1056,
        320
      ],
      "webhookId": "f0d2c81a-eb7d-4286-ab49-5e86c1a034eb",
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.image.id }}"
      },
      "id": "07a99e14-e25e-46f1-bc67-0fd25469cfd3",
      "name": "Get Image URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1056,
        512
      ],
      "webhookId": "0cbdca1d-832a-4a6b-bf4b-a8da3a55b7f2",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "774c6df2-75e4-4474-9e55-dda63d8e2a6c",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1328,
        512
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "f0a83c82-19c7-4315-8ab2-0e16c830fda4",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1328,
        320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_prompt }}",
        "options": {
          "systemMessage": "=# Nutrition Office Assistant\n\n## 📅 CURRENT DATE AND TIME\n**Today:** {{ DateTime.now().setZone('Europe/Paris').toFormat('EEEE dd MMMM yyyy', {locale: 'fr'}) }}  \n**Time:** {{ DateTime.now().setZone('Europe/Paris').toFormat('HH:mm:ss') }}  \n**ISO Format:** {{ DateTime.now().setZone('Europe/Paris').toFormat('yyyy-MM-dd') }}\n\n## BASIC INFORMATION\n- **Location:** 8 Allée du Progrès, 92170 Vanves  \n- **Hours:** Mon-Fri 08:00-18:00 | Sat 09:00-15:00  \n- **Timezone:** Europe/Paris (currently UTC+1)  \n- **Date display:** DD-MM-YYYY and HHhMM (never technical format)\n\n## LANGUAGE POLICY\n- The assistant must **speak primarily in French at all times**.  \n- The assistant may **switch to English or Spanish** only if the client initiates the conversation in that language.  \n- When switching languages, continue the full conversation in the client’s chosen language.  \n- In all other cases, **default to French** for clarity, professionalism, and consistency.\n\n## CRITICAL RULES\n\n### 1. TIME CONVERSION (INVISIBLE TO CLIENT)\n- **API → Client:** Add 1h (UTC to Paris) - Example: API says \"12:00Z\" = say \"13h00\"  \n- **Client → API:** Subtract 1h (Paris to UTC) - Example: client says \"8h30\" = send \"07:30Z\"  \n- **NEVER mention** UTC, conversion, or timezone to the client\n\n### 2. DATE CALCULATIONS\n- **Use the current date** above for all calculations  \n- **Always verify:** if today = Monday, Nov 3, then “Tuesday” = Nov 4 (not 5!)  \n- **Count days precisely:** Monday +1 day = Tuesday, Monday +7 days = next Monday\n\n### 3. BOOKING (book_appointment)\n**Single flow:**\n1. Ask: name, email, phone (+33...), reason  \n2. Make ONE summary: \"Je réserve le [date] à [heure] pour [motif]. Nom : [X]. C’est bon ?\"  \n3. Client confirms → **Immediately call book_appointment**  \n4. Announce ONLY if successful: \"C’est réservé pour le [date] à [heure], au cabinet : 8 Allée du Progrès, 92170 Vanves.\"\n\n**FORBIDDEN:**\n- ❌ Saying “it’s booked” without calling the tool  \n- ❌ Making 2 summaries  \n- ❌ Announcing if the tool failed\n\n### 4. CANCELLATION (cancel_booking)\n**Mandatory sequence:**\n1. `find_booking` using email → get bookingUid  \n2. Filter: keep ONLY future appointments (not past ones)  \n3. If multiple: ask which one  \n4. Summarize and ask for confirmation  \n5. `cancel_booking` using bookingUid  \n6. Announce ONLY if successful  \n\n**FORBIDDEN:**\n- ❌ Calling cancel_booking without find_booking first  \n- ❌ Using an email as bookingUid  \n- ❌ Showing past appointments to the client\n\n### 5. RESCHEDULING (reschedule_booking)\n**Mandatory sequence:**\n1. `find_booking` using email → get bookingUid  \n2. Filter: keep ONLY future appointments  \n3. If multiple: ask which one  \n4. `check_availability` → propose 3–4 time slots  \n5. Client chooses → ask for confirmation  \n6. `reschedule_booking` with bookingUid + new UTC slot  \n7. Announce ONLY if successful  \n\n**Format for new slot:**\n- Parameter: `newStartUtc` (not newEventDateTimeUtc)  \n- Format: `YYYY-MM-DDTHH:MM:SSZ` in UTC  \n- Conversion: client says \"14h\" = send \"13:00Z\"\n\n## AVAILABLE TOOLS\n\n**check_availability:** Check available slots  \n**book_appointment:** Create a booking (after client confirmation)  \n**find_booking:** Find existing appointments (MANDATORY before cancel/reschedule)  \n**cancel_booking:** Cancel (with bookingUid from find_booking)  \n**reschedule_booking:** Reschedule (with bookingUid from find_booking)  \n**retrieve_files:** Internal FAQ\n\n## TONE AND STYLE\n- Warm, concise, efficient  \n- No visible technical jargon  \n- Offer 3–4 slots maximum  \n- Always mention the address in confirmations  \n- Communicate in **natural, polite French**, unless the client uses another language  \n\n## FINAL REMINDERS\n1. **Current date:** Always use the date above for calculations  \n2. **Time conversion:** Always +1h from API, -1h to API (silently)  \n3. **Past appointments:** Always filter after find_booking  \n4. **Confirmation:** Announce “c’est fait” ONLY after successful tool execution  \n5. **Find-then-Act:** ALWAYS find_booking before cancel/reschedule  \n6. **Default language:** Always French unless the client starts in English or Spanish"
        }
      },
      "id": "9bd53827-21fe-45b1-bd97-0a97bbd04b1f",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2448,
        512
      ],
      "retryOnFail": true,
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "18107ab8-fb1a-415b-b2a1-c2b337677c06",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2080,
        880
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.from ?? $('Split out message1').item.json.from ?? $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 10
      },
      "id": "a2cd24f3-1366-451e-ae8c-a15abccb1859",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2256,
        880
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to retrieves the right slot",
        "url": "https://api.cal.com/v2/slots",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "eventTypeId"
            },
            {
              "name": "timeZone",
              "value": "Europe/Paris"
            },
            {
              "name": "start",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `YYYY-MM-DD`, 'string') }}"
            },
            {
              "name": "end",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `YYYY-MM-DD`, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TOKEN_HERE"
            },
            {
              "name": "cal-api-version",
              "value": "2024-09-04"
            }
          ]
        },
        "options": {}
      },
      "id": "373e29c4-f17c-425b-b13f-c103b6636780",
      "name": "check_availability",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        2448,
        880
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "toolDescription": "Create a booking for the selected slot.\nInputs: eventTypeId (required), startUtc (ISO 8601 UTC, required), attendeeEmail (required), attendeeName (optional), notes (optional), timeZone (always pass “Europe/Paris” for the attendee).\nBehavior: If the user provides a local time (Europe/Paris), convert it to startUtc before booking. Confirm a short summary with the user (doctor, date/time in Europe/Paris, attendee email) before creating the booking. On conflicts or validation errors, propose the nearest 2–3 alternative slots from check_availability.\nOutput: Return the booking object including uid, start, and a human summary.",
        "method": "POST",
        "url": "https://api.cal.com/v2/bookings",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer YOUR_TOKEN_HERE"
            },
            {
              "name": "cal-api-version",
              "valueProvider": "fieldValue",
              "value": "2024-08-13"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"start\": \"{eventDateTimeUtc}\",\n  \"eventTypeId\": XXXXXXX,\n  \"attendee\": {\n    \"name\": \"{name}\",\n    \"email\": \"{email}\",\n    \"timeZone\": \"Europe/Paris\",\n    \"phoneNumber\": \"{phoneE164}\",\n    \"language\": \"fr\"\n  },\n  \"bookingFieldsResponses\": {\n    \"title\": \"{title}\"\n  }\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "eventDateTimeUtc",
              "description": "ex. 2025-08-27T10:30:00Z (UTC avec Z)",
              "type": "string"
            },
            {
              "name": "name",
              "description": "ex : Jean Dupond",
              "type": "string"
            },
            {
              "name": "email",
              "description": "user@example.com",
              "type": "string"
            },
            {
              "name": "phoneE164",
              "description": "ex : +1234567890",
              "type": "string"
            },
            {
              "name": "title",
              "description": "ex : 1ère consultation",
              "type": "string"
            }
          ]
        }
      },
      "id": "ba20fda8-bb43-4dd7-8e4a-8c6b37f0e579",
      "name": "book_appointment",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        2640,
        880
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "toolDescription": "Find a user’s booking to obtain its uid.\nInputs: \n- email (required), \n- dateHint (optional, e.g., \"2025-10-17 14:30 Europe/Paris\"), \n- eventTypeId=2957420 (implicit).\n\nBehavior:\n- Call GET /v2/bookings with attendeeEmail=email (and eventTypeId if needed).\n- If dateHint is provided, select the booking whose start is the closest match.\n- If multiple plausible matches remain or no dateHint, list 2–3 options (date/time/title in Europe/Paris) and ask the user to choose BEFORE continuing.\n- Return a compact object exposing at least:\n  { bookingUid: <uid>, start: <ISO>, title: <string>, eventTypeId: 2957420 }.\n\nNever return an email as bookingUid. The value bookingUid MUST be the API field \"uid\".",
        "url": "https://api.cal.com/v2/bookings",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "attendeeEmail",
              "valueProvider": "fieldValue",
              "value": "{email}"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer YOUR_TOKEN_HERE"
            },
            {
              "name": "cal-api-version",
              "valueProvider": "fieldValue",
              "value": "2024-08-13"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "email",
              "description": "ex: “user@example.com”",
              "type": "string"
            }
          ]
        }
      },
      "id": "df43d3a7-d1ec-4e04-86dc-eb8f02d2dc30",
      "name": "find_booking",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        2816,
        880
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "toolDescription": "Cancel a booking by uid.\nInputs: bookingUid (required), reason (string), cancelAll (boolean).\n\nCritical rule:\n- If bookingUid is missing or looks like an email, FIRST call find_booking using the user’s email (and date/time if given). \n- If multiple bookings exist, ask the user to pick the exact one (date/time in Europe/Paris). \n- Only after you have a valid uid, call POST /v2/bookings/{bookingUid}/cancel.\n- On policy/validation issues (e.g., booking in the past), explain briefly and propose alternatives (reschedule or contact support).\n\nOutput: Return the API response and a one-line human confirmation.",
        "method": "POST",
        "url": "=https://api.cal.com/v2/bookings/{bookingUid}/cancel",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer YOUR_TOKEN_HERE"
            },
            {
              "name": "cal-api-version",
              "valueProvider": "fieldValue",
              "value": "2024-08-13"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"cancellationReason\": \"{reason}\",\n  \"cancelSubsequentBookings\": {cancelAll}\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "reason",
              "description": "ex: “Patient indisponible”",
              "type": "string"
            },
            {
              "name": "cancelAll",
              "type": "boolean"
            },
            {
              "name": "bookingUid",
              "type": "string"
            }
          ]
        }
      },
      "id": "eac65d11-6db9-45d8-a2d1-4a6defa4d36b",
      "name": "cancel_booking",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        2992,
        880
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "toolDescription": "Reschedule a booking to a new time.\nInputs: bookingUid (required), newStartUtc (required, ISO 8601 UTC), actorEmail (required), reschedulingReason (optional).\nBehavior: If bookingUid is missing, call find_booking first and confirm the current slot with the user. If the user gives a local time (Europe/Paris), convert to newStartUtc before calling the API. If the requested time is unavailable, show the nearest 2–3 alternatives from check_availability and ask the user to pick one. Duration is defined by the event type and doesn’t change on reschedule.\nOutput: Return the updated booking object and a short human summary.\n",
        "method": "POST",
        "url": "=https://api.cal.com/v2/bookings/{bookingUid}/reschedule",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer YOUR_TOKEN_HERE"
            },
            {
              "name": "cal-api-version",
              "valueProvider": "fieldValue",
              "value": "2024-08-13"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"start\": \"{newStartUtc}\",\n  \"rescheduledBy\": \"{actorEmail}\",\n  \"reschedulingReason\": \"{reason}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "bookingUid",
              "type": "string"
            },
            {
              "name": "newStartUtc",
              "description": "ex. 2025-09-14T13:30:00Z",
              "type": "string"
            },
            {
              "name": "actorEmail",
              "type": "string"
            },
            {
              "name": "reason",
              "type": "string"
            }
          ]
        }
      },
      "id": "de2afc69-4524-4ee8-8968-d155185bb622",
      "name": "reschedule_booking",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        3168,
        880
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "30fb982a-9be1-4ca1-9979-9d13289ee54a",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        128,
        512
      ],
      "webhookId": "72992693-7c18-4104-826e-345d33fde3af",
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a5d4ec5-61d5-471c-bab7-135528008e6c",
              "name": "user_prompt",
              "type": "string",
              "value": "={{ $json.text.body }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a42bb11a-0f9a-4ea2-868f-670e79c97b1d",
      "name": "Edit Fields 1",
      "type": "n8n-nodes-base.set",
      "position": [
        1824,
        736
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a5d4ec5-61d5-471c-bab7-135528008e6c",
              "name": "user_prompt",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8aa8ba1a-d5ac-401d-96d3-eff6f41d0c95",
      "name": "Edit Fields 2",
      "type": "n8n-nodes-base.set",
      "position": [
        1824,
        512
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a5d4ec5-61d5-471c-bab7-135528008e6c",
              "name": "user_prompt",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "0499111e-9cd5-4f89-a308-2efab4467fef",
      "name": "Edit Fields 3",
      "type": "n8n-nodes-base.set",
      "position": [
        1824,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "# WhatsApp Trigger → Message Router\n\n**Receives incoming messages** from WhatsApp Business API via webhook.\n\n**Process:**\n- WhatsApp Trigger → Detects incoming messages\n- Split Out Messages → Processes each message individually  \n- Identify Message Type → Routes based on type (Text/Audio/Image)\n\n**Outputs:** 3 branches for different message types",
        "height": 496,
        "width": 896,
        "color": 4
      },
      "id": "c48b36a5-d0a3-47d4-80fc-e0afdb5b0241",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Multi-Modal Processing Pipeline\n\n**Processes all message types** and prepares them for the AI Agent.\n\n### Audio Branch:\n- Get Audio URL → Download Audio → Audio Transcriber (Whisper) → Edit Fields 3\n\n### Image Branch:\n- Get Image URL → Download Image → Analyze Image (GPT-4 Vision) → Edit Fields 2\n\n### Text Branch:\n- Direct text message → Edit Fields 1\n\n**Output:** All three branches convert their input into `user_prompt` field for the AI Agent",
        "height": 1008,
        "width": 992,
        "color": 6
      },
      "id": "fa5f6225-d499-45c4-90fa-d9b0182973e3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# AI Agent: Smart Appointment Manager + Response Delivery\n\n**Uses GPT-4** to understand requests in natural language and execute appropriate actions.\n\n### Core Components:\n- **OpenAI Chat Model** - GPT-4 for advanced reasoning\n- **Simple Memory** - Maintains conversation context\n- **AI Agent** - Orchestrates tools based on user intent\n\n### Cal.com Tools (5):\n✅ **check_availability** - Checks available time slots\n✅ **book_appointment** - Creates new appointments\n✅ **find_booking** - Retrieves existing bookings\n✅ **cancel_booking** - Cancels appointments by ID\n✅ **reschedule_booking** - Changes appointment date/time\n\n### Output Processing:\n- **Code Node** - Converts markdown **bold** to Unicode 𝐛𝐨𝐥𝐝 for better WhatsApp display\n- **Send Message** - Sends formatted response via WhatsApp Graph API\n\n**The agent automatically selects the right tool based on the conversation and delivers a professional, well-formatted response.**",
        "height": 1136,
        "width": 1280,
        "color": 5
      },
      "id": "98de6ffe-c943-41b2-9637-718869fcb190",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# WhatsApp AI Appointment Agent with Cal.com\n\n### Automate your appointment booking 24/7 via WhatsApp\n\n**What it does:**\n- Understands text, audio, and image messages\n- Checks real-time availability in Cal.com\n- Books, reschedules, and cancels appointments autonomously\n- Responds in natural language\n- Maintains conversation context\n\n**Quick Setup:**\n1. Create Meta App at developers.facebook.com\n2. Add WhatsApp product to your app\n3. Connect credentials (WhatsApp, Cal.com, OpenAI)\n4. Paste webhook URL in Meta Console\n5. Customize AI Agent personality\n6. Test & deploy!\n\n---\n\n## ⚙️ Configuration Required\n\n### 🔐 Credentials:\n- **WhatsApp Business API** - phone_number_id + access_token from Meta\n- **Cal.com API Key** - Get from cal.com/settings/developer\n- **OpenAI API Key** - For GPT-4, Whisper, and Vision\n\n### 📝 Customization:\n- Edit AI Agent **System Message** to define personality and context\n- Configure Cal.com **event types** (duration, pricing, availability)\n- Set **timezone** (default: Europe/Paris)\n- Adjust response **language** in System Message\n\n### 🚀 Deployment:\nTest with different message types (text/audio/image) before activating in production.\n\n💬 Need help? Contact: **[LinkedIn](https://www.linkedin.com/in/st%C3%A9phane-bordas-3439b4179/)** ",
        "height": 1120,
        "width": 624
      },
      "id": "a2eb0ab4-14af-41f5-9d4c-38a880bb9f7d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -672,
        -128
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find_booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Audio Transcriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancel_booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Split out message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "book_appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Audio Transcriber": {
      "main": [
        [
          {
            "node": "Edit Fields 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split out message1": {
      "main": [
        [
          {
            "node": "Identify and ReRoute Message Types1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reschedule_booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Identify and ReRoute Message Types1": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "551b0645-7dd8-41ae-948b-2ea6ce0fe7d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b4d4d7be3ea3711d799d4193b91b2fc9810c5f560690f4337ed8412849657b6"
  },
  "id": "VyQqWxNQU7qoVopY",
  "tags": []
}