Agent/workflows/email/Automate hotel booking requests from Gmail to Google Sheets with GPT-5-mini.json
{
  "name": "Automate hotel booking requests from Gmail to Google Sheets with GPT-5-mini",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-aligned",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.checks[0].triggered }}",
              "rightValue": ""
            },
            {
              "id": "check-nsfw",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $json.checks[1].triggered }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "d2667ee0-1ee0-4794-8d1b-185ffcfc0e32",
      "name": "IF (Guardrail Check)",
      "type": "n8n-nodes-base.if",
      "position": [
        -1680,
        624
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "special_requests",
              "value": "={{ $('Guardrails').item.json.sanitized_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2a75c5a7-b299-4b0a-8ec2-23a02df9c518",
      "name": "Merge Sanitized Data",
      "type": "n8n-nodes-base.set",
      "position": [
        -416,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error_type",
              "value": "INVALID_EMAIL_TOPIC"
            },
            {
              "name": "error_message",
              "value": "={{ $json.is_aligned === false ? \"Email is off-topic.\" : \"Email contains NSFW content.\" }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "original_subject",
              "value": "={{ $('Get many messages (1)').item.json.subject }}"
            },
            {
              "name": "original_sender",
              "value": "={{ $('Get many messages (1)').item.json.from.value[0].address }}"
            },
            {
              "name": "email_snippet",
              "value": "={{ $('Look for incoming emails').item.json.snippet }}"
            },
            {
              "name": "workflow_execution_id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "033d1c81-15b3-45b3-91a7-453d6f46c317",
      "name": "Set Invalid Email Error",
      "type": "n8n-nodes-base.set",
      "position": [
        -1600,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "expression",
          "value": "={{ $('Configuration: User Settings').item.json.gSheetID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Error Logs",
          "cachedResultName": "Error Logs"
        },
        "columns": {
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "error_type": "={{ $json.error_type }}",
            "email_snippet": "={{ $json.email_snippet }}",
            "error_message": "={{ $json.error_message }}",
            "original_sender": "={{ $json.original_sender }}",
            "original_subject": "={{ $json.original_subject }}",
            "workflow_execution_id": "={{ $json.workflow_execution_id }}"
          },
          "schema": [
            {
              "id": "timestamp",
              "type": "string",
              "displayName": "timestamp"
            },
            {
              "id": "error_type",
              "type": "string",
              "displayName": "error_type"
            },
            {
              "id": "error_message",
              "type": "string",
              "displayName": "error_message"
            },
            {
              "id": "original_subject",
              "type": "string",
              "displayName": "original_subject"
            },
            {
              "id": "original_sender",
              "type": "string",
              "displayName": "original_sender"
            },
            {
              "id": "email_snippet",
              "type": "string",
              "displayName": "email_snippet"
            },
            {
              "id": "extracted_data",
              "type": "string",
              "displayName": "extracted_data"
            },
            {
              "id": "workflow_execution_id",
              "type": "string",
              "displayName": "workflow_execution_id"
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0855efba-cf26-4814-9e47-6f53147b8f69",
      "name": "Log Invalid Email Error",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1312,
        256
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "sendTo": "={{ $('Configuration: User Settings').item.json.adminEmailForErrors }}",
        "subject": "=⚠️ Invalid Email Received - {{ $json.error_type }}",
        "message": "=<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n\t<div style=\"max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #dc3545; border-radius: 5px;\">\n\t\t<h2 style=\"color: #dc3545; border-bottom: 2px solid #dc3545; padding-bottom: 10px;\">⚠️ Invalid Email Detected</h2>\n\t\t\n\t\t<p>The workflow detected an email that failed the initial guardrail checks and was not processed.</p>\n\t\t\n\t\t<div style=\"background-color: #f8d7da; padding: 15px; border-radius: 5px; margin: 20px 0; border-left: 4px solid #dc3545;\">\n\t\t\t<h3 style=\"color: #721c24; margin-top: 0;\">Error Details</h3>\n\t\t\t<p><strong>Error Type:</strong> {{ $json.error_type }}</p>\n\t\t\t<p><strong>Error Message:</strong> {{ $json.error_message }}</p>\n\t\t\t<p><strong>Timestamp:</strong> {{ $json.timestamp }}</p>\n\t\t</div>\n\t\t\n\t\t<div style=\"background-color: #fff3cd; padding: 15px; border-radius: 5px; margin: 20px 0; border-left: 4px solid #ffc107;\">\n\t\t\t<h3 style=\"color: #856404; margin-top: 0;\">Original Email Information</h3>\n\t\t\t<p><strong>From:</strong> {{ $json.original_sender || 'N/A' }}</p>\n\t\t\t<p><strong>Subject:</strong> {{ $json.original_subject || 'N/A' }}</p>\n\t\t\t<p><strong>Snippet:</strong> {{ $json.email_snippet || 'N/A' }}</p>\n\t\t</div>\n\t\t\n\t\t<div style=\"margin-top: 20px; padding: 15px; background-color: #e7f3ff; border-radius: 5px;\">\n\t\t\t<h3 style=\"color: #004085; margin-top: 0;\">Action Required</h3>\n\t\t\t<p>Please review this email in the inbox manually to see if it requires any action. It has been ignored by the automation.</p>\n\t\t\t<p><strong>Workflow Execution ID:</strong> {{ $execution.id }}</p>\n\t\t</div>\n\t\t\n\t\t<p style=\"margin-top: 30px; font-size: 12px; color: #666;\">This is an automated alert from the Hotel Booking Workflow System.</p>\n\t</div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "6620d6ea-4aa0-410f-b586-bc644ed312c9",
      "name": "Send Invalid Email Notification",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -1008,
        256
      ],
      "webhookId": "814ad124-75bd-4a92-8686-0b3729d263e5",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get many messages (1)').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a hotel booking specialist AI. Extract booking information from emails and return ONLY a valid JSON object.\n\nCRITICAL INSTRUCTIONS:\n1. Look for booking details anywhere in the email text\n2. Extract numbers from phrases like \"55 rooms\" or \"Number of Rooms: 55\"\n3. Parse dates in any format and convert to YYYY-MM-DD\n4. If a field is not found, use null\n5. Return ONLY the JSON object - no explanations\n6. If the users provide their credit card as a special request. In the special request dont parse the credit card numbers, write [CREDIT_CARD] instead.\n\n\nREQUIRED JSON STRUCTURE:\n{\n  \"travel_agency_name\": \"string or null\",\n  \"contact_person\": \"string or null\",\n  \"contact_email\": \"string or null\",\n  \"contact_phone\": \"string or null\",\n  \"number_of_rooms\": number,\n  \"check_in_date\": \"YYYY-MM-DD or null\",\n  \"check_out_date\": \"YYYY-MM-DD or null\",\n  \"room_type\": \"string or null\",\n  \"special_requests\": \"string or null\",\n  \"total_guests\": number,\n  \"booking_reference\": \"string or null\",\n  \"urgency\": \"urgent or normal or low\"\n}"
        }
      },
      "id": "559be49b-6779-46e8-a376-0c3b53b28f19",
      "name": "OpenAI Model for Email Text2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1760,
        1424
      ],
      "typeVersion": 1.9,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "sanitize",
        "text": "={{ $json.special_requests }}",
        "guardrails": {
          "pii": {
            "value": {
              "type": "selected",
              "entities": [
                "CREDIT_CARD"
              ]
            }
          }
        }
      },
      "id": "c5363b0d-38ed-47cf-86e3-21e720b5c245",
      "name": "Guardrails",
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "position": [
        -608,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a hotel booking specialist AI. Extract booking information from the PDF attachment and return ONLY a valid JSON object.\n\nCRITICAL INSTRUCTIONS:\n1. Look for booking details anywhere in the document\n2. Extract numbers from phrases like \"55 rooms\" or \"Number of Rooms: 55\"\n3. Parse dates in any format and convert to YYYY-MM-DD\n4. If a field is not found, use null\n5. Return ONLY the JSON object - no explanations\n6. If the users provide their credit card as a special request. In the special request dont parse the credit card numbers, write [CREDIT_CARD] instead.\n\nREQUIRED JSON STRUCTURE:\n{\n  \"travel_agency_name\": \"string or null\",\n  \"contact_person\": \"string or null\",\n  \"contact_email\": \"string or null\",\n  \"contact_phone\": \"string or null\",\n  \"number_of_rooms\": number,\n  \"check_in_date\": \"YYYY-MM-DD or null\",\n  \"check_out_date\": \"YYYY-MM-DD or null\",\n  \"room_type\": \"string or null\",\n  \"special_requests\": \"string or null\",\n  \"total_guests\": number,\n  \"booking_reference\": \"string or null\",\n  \"urgency\": \"urgent or normal or low\"\n}"
        }
      },
      "id": "952e2a6e-510b-41b1-bbd0-3825d5b23e41",
      "name": "OpenAI Model for PDF",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1760,
        1136
      ],
      "typeVersion": 1.9,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "filter-booking-subject",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $('Look for incoming emails').item.json.Subject }}",
              "rightValue": "Booking Request"
            },
            {
              "id": "107664b3-31f6-4df6-89ef-33fc5af78cce",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $('Look for incoming emails').item.json.Subject }}",
              "rightValue": "reservation"
            },
            {
              "id": "4de37c49-313a-4477-80cd-9553fde62f53",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $('Look for incoming emails').item.json.Subject }}",
              "rightValue": "room request"
            },
            {
              "id": "839bc665-ad8b-469c-862c-d911418d66ae",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $('Look for incoming emails').item.json.Subject }}",
              "rightValue": "accommondation"
            },
            {
              "id": "ec0fc23d-1083-4dac-a9ea-4c2a6eedb740",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $('Look for incoming emails').item.json.Subject }}",
              "rightValue": "check-in"
            },
            {
              "id": "4e923cdb-6127-4068-80cf-6b5cd4ebc98c",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $('Look for incoming emails').item.json.Subject }}",
              "rightValue": "boking"
            },
            {
              "id": "f6b9bf16-ad15-4e02-a78e-7e0b6a3adaf0",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $('Look for incoming emails').item.json.Subject }}",
              "rightValue": "reserv"
            },
            {
              "id": "77152b7b-6e55-494f-9e12-3e99c77570a6",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $('Look for incoming emails').item.json.Subject }}",
              "rightValue": "booking"
            }
          ]
        },
        "options": {}
      },
      "id": "36e8184b-4eab-417f-86ce-7ee3233ee6af",
      "name": "Filter Booking Emails",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1264,
        704
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-attachment",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ Object.keys($binary || {}).length }}",
              "rightValue": 0
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "2891d969-9b42-48a1-92ae-a72c5b126143",
      "name": "Check for Attachment",
      "type": "n8n-nodes-base.if",
      "position": [
        -2352,
        1248
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ Object.keys($json.binary || {})[0] || 'attachment_0' }}",
        "options": {}
      },
      "id": "66103c4b-9931-4627-9a1f-0f5a4862cf77",
      "name": "Extract Attachment Data",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -2064,
        1136
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "gSheetID",
              "value": "ENTER_GOOGLE_SHEET_ID_HERE"
            },
            {
              "name": "adminEmailForErrors",
              "value": "admin@example.com"
            }
          ]
        },
        "options": {}
      },
      "id": "fa32c783-b2ea-4cdb-bde2-dc22b56cfbac",
      "name": "Configuration: User Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        -1888,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "956531a8-b40b-4a6c-b148-08f8ed81af60",
      "name": "Get many messages (1)",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -2400,
        640
      ],
      "webhookId": "2b7ef828-6a6d-4930-ab92-9670869a1f75",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ]
        }
      },
      "id": "105aa284-8968-445e-9ffe-ad33666b2194",
      "name": "Look for incoming emails",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -2624,
        640
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Check if AI extraction succeeded\nif ($json.error) {\n\treturn {\n\t\tjson: {\n\t\t\terror_occurred: true,\n\t\t\terror_type: \"AI_EXTRACTION_FAILED\",\n\t\t\terror_message: $json.error.message || \"AI extraction failed\",\n\t\t\toriginal_email: $('Get many messages (1)').item.json,\n\t\t\ttimestamp: new Date().toISOString()\n\t\t}\n\t};\n}\n\nif (!$json.output) {\n\treturn {\n\t\tjson: {\n\t\t\terror_occurred: true,\n\t\t\terror_type: \"NO_OUTPUT\",\n\t\t\terror_message: \"AI did not return any output\",\n\t\t\toriginal_email: $('Get many messages (1)').item.json,\n\t\t\ttimestamp: new Date().toISOString()\n\t\t}\n\t};\n}\n\ntry {\n\tlet bookingData;\n\t\n\tif (typeof $json.output === 'string') {\n\t\tbookingData = JSON.parse($json.output);\n\t} else {\n\t\tbookingData = $json.output;\n\t}\n\t\n\tconsole.log(\"Parsed booking data:\", JSON.stringify(bookingData, null, 2));\n\t\n\tconst requiredFields = ['travel_agency_name', 'number_of_rooms', 'check_in_date', 'check_out_date'];\n\tconst missingFields = [];\n\t\n\tfor (const field of requiredFields) {\n\t\tif (!bookingData[field] || bookingData[field] === null || bookingData[field] === \"null\" || bookingData[field] === \"\") {\n\t\t\tmissingFields.push(field);\n\t\t}\n\t}\n\t\n\tif (missingFields.length > 0) {\n\t\tconsole.log(\"Missing fields detected:\", missingFields);\n\t\treturn {\n\t\t\tjson: {\n\t\t\t\terror_occurred: true,\n\t\t\t\terror_type: \"MISSING_REQUIRED_FIELDS\",\n\t\t\t\terror_message: `Missing required fields: ${missingFields.join(', ')}`,\n\t\t\t\textracted_data: bookingData,\n\t\t\t\toriginal_email: $('Get many messages (1)').item.json,\n\t\t\t\ttimestamp: new Date().toISOString()\n\t\t\t}\n\t\t};\n\t}\n\t\n\tconst checkInDate = new Date(bookingData.check_in_date);\n\tconst checkOutDate = new Date(bookingData.check_out_date);\n\t\n\tif (isNaN(checkInDate.getTime()) || isNaN(checkOutDate.getTime())) {\n\t\tconsole.log(\"Invalid date format detected\");\n\t\treturn {\n\t\t\tjson: {\n\t\t\t\terror_occurred: true,\n\t\t\t\terror_type: \"INVALID_DATE_FORMAT\",\n\t\t\t\terror_message: \"Check-in or check-out date is invalid\",\n\t\t\t\textracted_data: bookingData,\n\t\t\t\toriginal_email: $('Get many messages (1)').item.json,\n\t\t\t\ttimestamp: new Date().toISOString()\n\t\t\t}\n\t\t};\n\t}\n\t\n\tif (checkOutDate <= checkInDate) {\n\t\tconsole.log(\"Date logic error detected\");\n\t\treturn {\n\t\t\tjson: {\n\t\t\t\terror_occurred: true,\n\t\t\t\terror_type: \"INVALID_DATE_LOGIC\",\n\t\t\t\terror_message: \"Check-out date must be after check-in date\",\n\t\t\t\textracted_data: bookingData,\n\t\t\t\toriginal_email: $('Get many messages (1)').item.json,\n\t\t\t\ttimestamp: new Date().toISOString()\n\t\t\t}\n\t\t};\n\t}\n\t\n\tconsole.log(\"Validation successful!\");\n\treturn {\n\t\tjson: {\n\t\t\terror_occurred: false,\n\t\t\tvalidated_data: bookingData\n\t\t}\n\t};\n\t\n} catch (error) {\n\tconsole.log(\"JSON parse error:\", error.message);\n\treturn {\n\t\tjson: {\n\t\t\terror_occurred: true,\n\t\t\terror_type: \"JSON_PARSE_ERROR\",\n\t\t\terror_message: error.message,\n\t\t\traw_output: $json.output,\n\t\t\toriginal_email: $('Get many messages (1)').item.json,\n\t\t\ttimestamp: new Date().toISOString()\n\t\t}\n\t};\n}"
      },
      "id": "3260fca0-3933-41c9-b60f-32c869a8607a",
      "name": "Validate Extraction",
      "type": "n8n-nodes-base.code",
      "position": [
        -1328,
        1264
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const bookingData = $json.validated_data;\n\nlet assignedTeam = \"\";\nlet teamEmail = \"\";\nlet priority = \"Normal\";\nlet status = \"New\";\n\nconst numRooms = parseInt(bookingData.number_of_rooms) || 0;\n\n// Rule 1: Assignment based on number of rooms\nif (numRooms >= 50) {\n\tassignedTeam = \"Large Bookings Team\";\n\tteamEmail = \"user@example.com\";\n\tpriority = \"High\";\n} else if (numRooms >= 20) {\n\tassignedTeam = \"Group Bookings Team\";\n\tteamEmail = \"user@example.com\";\n\tpriority = \"Medium\";\n} else {\n\tassignedTeam = \"Regular Bookings Team\";\n\tteamEmail = \"user@example.com\";\n\tpriority = \"Normal\";\n}\n\n// Rule 2: Urgency override\nif (bookingData.urgency === \"urgent\") {\n\tpriority = \"High\";\n\tassignedTeam = \"Urgent Bookings Team\";\n\tteamEmail = \"user@example.com\";\n}\n\n// Rule 3: Check-in date proximity\nconst checkInDate = new Date(bookingData.check_in_date);\nconst today = new Date();\nconst daysUntilCheckIn = Math.ceil((checkInDate - today) / (1000 * 60 * 60 * 24));\n\nif (daysUntilCheckIn <= 7 && daysUntilCheckIn >= 0) {\n\tpriority = \"High\";\n\tstatus = \"Urgent - Near Check-in\";\n}\n\n// Rule 4: VIP Agencies\nconst vipAgencies = [\"Premium Travel Co\", \"Elite Bookings\", \"Luxury Tours\"];\nif (vipAgencies.some(agency => bookingData.travel_agency_name?.includes(agency))) {\n\tpriority = \"High\";\n\tassignedTeam = \"VIP Relations Team\";\n\tteamEmail = \"user@example.com\";\n}\n\n// Calculate total nights\nconst checkOutDate = new Date(bookingData.check_out_date);\nconst totalNights = Math.ceil((checkOutDate - checkInDate) / (1000 * 60 * 60 * 24));\n\n// Get original email info - FIXED LINE BELOW\nconst originalEmail = $('Look for incoming emails').item.json;\n\nreturn {\n\tjson: {\n\t\t// Extracted booking data\n\t\ttravel_agency_name: bookingData.travel_agency_name || \"N/A\",\n\t\tcontact_person: bookingData.contact_person || \"N/A\",\n\t\tcontact_email: bookingData.contact_email || \"N/A\",\n\t\tcontact_phone: bookingData.contact_phone || \"N/A\",\n\t\tnumber_of_rooms: numRooms,\n\t\tcheck_in_date: bookingData.check_in_date || \"N/A\",\n\t\tcheck_out_date: bookingData.check_out_date || \"N/A\",\n\t\ttotal_nights: totalNights || 0,\n\t\troom_type: bookingData.room_type || \"Standard\",\n\t\tspecial_requests: bookingData.special_requests || \"None\",\n\t\ttotal_guests: bookingData.total_guests || numRooms * 2,\n\t\tbooking_reference: bookingData.booking_reference || `BK${Date.now()}`,\n\t\turgency: bookingData.urgency || \"normal\",\n\t\t\n\t\t// Business rules output\n\t\tassigned_team: assignedTeam,\n\t\tteam_email: teamEmail,\n\t\tpriority: priority,\n\t\tstatus: status,\n\t\tdays_until_checkin: daysUntilCheckIn,\n\t\t\n\t\t// Metadata\n\t\tprocessed_date: new Date().toISOString(),\n\t\toriginal_subject: originalEmail.subject,\n\t\toriginal_sender: originalEmail.from,\n\t\tcase_id: `CASE-${Date.now()}`,\n\t\tprocessing_status: \"SUCCESS\"\n\t}\n};"
      },
      "id": "fb9132d5-bd8d-44c7-a8e5-02db5e8b8b2a",
      "name": "Apply Business Rules",
      "type": "n8n-nodes-base.code",
      "position": [
        -816,
        944
      ],
      "typeVersion": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "expression",
          "value": "={{ $('Configuration: User Settings').item.json.gSheetID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Error Logs",
          "cachedResultName": "Error Logs"
        },
        "columns": {
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "Error Type": "={{ $json.error_type }}",
            "error_type": "={{ $json.error_type }}",
            "email_snippet": "={{ $('Look for incoming emails').item.json.snippet }}",
            "error_message": "={{ $json.error_message }}",
            "extracted_data": "={{ $json.extracted_data }}",
            "original_sender": "={{ $('Look for incoming emails').item.json.From }}",
            "original_subject": "={{ $('Look for incoming emails').item.json.Subject }}",
            "workflow_execution_id": "={{ $workflow.id }}"
          },
          "schema": [
            {
              "id": "timestamp",
              "type": "string",
              "displayName": "timestamp"
            },
            {
              "id": "error_type",
              "type": "string",
              "displayName": "error_type"
            },
            {
              "id": "error_message",
              "type": "string",
              "displayName": "error_message"
            },
            {
              "id": "original_subject",
              "type": "string",
              "displayName": "original_subject"
            },
            {
              "id": "original_sender",
              "type": "string",
              "displayName": "original_sender"
            },
            {
              "id": "email_snippet",
              "type": "string",
              "displayName": "email_snippet"
            },
            {
              "id": "extracted_data",
              "type": "string",
              "displayName": "extracted_data"
            },
            {
              "id": "workflow_execution_id",
              "type": "string",
              "displayName": "workflow_execution_id"
            },
            {
              "id": "Error Type",
              "type": "string",
              "displayName": "Error Type"
            },
            {
              "id": "Meaning",
              "type": "string",
              "displayName": "Meaning"
            },
            {
              "id": "Action Needed",
              "type": "string",
              "displayName": "Action Needed"
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "61610736-f418-481b-a6f0-30f824055f5e",
      "name": "Log Error to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -768,
        1520
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "sendTo": "={{ $('Configuration: User Settings').item.json.adminEmailForErrors }}",
        "subject": "=⚠️ Booking Processing Error - {{ $json.error_type }}",
        "message": "=<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n\t<div style=\"max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #dc3545; border-radius: 5px;\">\n\t\t<h2 style=\"color: #dc3545; border-bottom: 2px solid #dc3545; padding-bottom: 10px;\">⚠️ Booking Processing Error</h2>\n\t\t\n\t\t<div style=\"background-color: #f8d7da; padding: 15px; border-radius: 5px; margin: 20px 0; border-left: 4px solid #dc3545;\">\n\t\t\t<h3 style=\"color: #721c24; margin-top: 0;\">Error Details</h3>\n\t\t\t<p><strong>Error Type:</strong> {{ $json.error_type }}</p>\n\t\t\t<p><strong>Error Message:</strong> {{ $json.error_message }}</p>\n\t\t\t<p><strong>Timestamp:</strong> {{ $json.timestamp }}</p>\n\t\t</div>\n\t\t\n\t\t<div style=\"background-color: #fff3cd; padding: 15px; border-radius: 5px; margin: 20px 0; border-left: 4px solid #ffc107;\">\n\t\t\t<h3 style=\"color: #856404; margin-top: 0;\">Original Email Information</h3>\n\t\t\t<p><strong>From:</strong> {{ $('Get many messages (1)').item.json.from.value[0].address|| 'N/A' }}</p>\n\t\t\t<p><strong>Subject:</strong> {{ $('Get many messages (1)').item.json.subject|| 'N/A' }}</p>\n\t\t\t<p><strong>Date:</strong> {{ $('Get many messages (1)').item.json.headers.date || 'N/A' }}</p>\n\t\t\t<p><strong>Snippet:</strong> {{ $('Look for incoming emails').item.json.snippet|| 'N/A' }}</p>\n\t\t</div>\n\t\t\n\t\t<div style=\"background-color: #d1ecf1; padding: 15px; border-radius: 5px; margin: 20px 0; border-left: 4px solid #17a2b8;\">\n\t\t\t<h3 style=\"color: #0c5460; margin-top: 0;\">Extracted Data (if any)</h3>\n\t\t\t<pre style=\"background-color: white; padding: 10px; border-radius: 3px; overflow-x: auto;\">{{ JSON.stringify($json.extracted_data, null, 2) }}</pre>\n\t\t</div>\n\t\t\n\t\t<div style=\"margin-top: 20px; padding: 15px; background-color: #e7f3ff; border-radius: 5px;\">\n\t\t\t<h3 style=\"color: #004085; margin-top: 0;\">Action Required</h3>\n\t\t\t<p>Please review this email manually and process the booking request.</p>\n\t\t\t<p><strong>Workflow Execution ID:</strong> {{ $execution.id }}</p>\n\t\t</div>\n\t\t\n\t\t<p style=\"margin-top: 30px; font-size: 12px; color: #666;\">This is an automated alert from the Hotel Booking Workflow System.</p>\n\t</div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ecde0553-7c92-4fe2-8ccb-9268bb08c302",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -432,
        1520
      ],
      "webhookId": "814ad124-75bd-4a92-8686-0b3729d263e5",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "text": "={{ $('Get many messages (1)').item.json.text }}",
        "guardrails": {
          "nsfw": {
            "value": {
              "threshold": 0.7
            }
          },
          "topicalAlignment": {
            "value": {
              "threshold": 0.7,
              "prompt": "=You are a hotel booking assistant. Your job is to process booking requests.\n\nBUSINESS SCOPE:\n- The text SHOULD contain booking details, dates, guest counts, and room preferences.\n- The text MAY contain payment details, credit card numbers, VIP requests, or urgent markers.\n- The text is considered ON-TOPIC if it relates to hospitality, reservations, or travel.\n\nINSTRUCTIONS:\n- Only flag the content as off-topic if it is completely unrelated to hotel bookings (e.g., spam, marketing for other products, personal conversations about non-travel topics).\n- Do not flag credit card numbers or urgent requests as off-topic."
            }
          }
        }
      },
      "id": "f5038168-3f21-4434-b33e-110f529a0805",
      "name": "Guardrails1",
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "position": [
        -2192,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "expression",
          "value": "={{ $('Configuration: User Settings').item.json.gSheetID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Team Assignments",
          "cachedResultName": "Team Assignments"
        },
        "columns": {
          "value": {
            "case_id": "={{ $json.case_id }}",
            "priority": "={{ $json.priority }}",
            "timestamp": "={{ $json.processed_date }}",
            "team_email": "={{ $json.team_email }}",
            "assigned_team": "={{ $json.assigned_team }}",
            "check_in_date": "={{ $json.check_in_date }}",
            "travel_agency": "={{ $json.travel_agency_name }}",
            "number_of_rooms": "={{ $json.number_of_rooms }}"
          },
          "schema": [
            {
              "id": "timestamp",
              "type": "string",
              "displayName": "timestamp"
            },
            {
              "id": "case_id",
              "type": "string",
              "displayName": "case_id"
            },
            {
              "id": "assigned_team",
              "type": "string",
              "displayName": "assigned_team"
            },
            {
              "id": "team_email",
              "type": "string",
              "displayName": "team_email"
            },
            {
              "id": "priority",
              "type": "string",
              "displayName": "priority"
            },
            {
              "id": "number_of_rooms",
              "type": "string",
              "displayName": "number_of_rooms"
            },
            {
              "id": "travel_agency",
              "type": "string",
              "displayName": "travel_agency"
            },
            {
              "id": "check_in_date",
              "type": "string",
              "displayName": "check_in_date"
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d9f353f9-ffea-47bb-b47a-38d3d5e07d1d",
      "name": "Log Team Assignment",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -48,
        944
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "expression",
          "value": "={{ $('Configuration: User Settings').item.json.gSheetID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Cases",
          "cachedResultName": "Cases"
        },
        "columns": {
          "value": {
            "status": "={{ $('Apply Business Rules').item.json.status }}",
            "case_id": "={{ $('Apply Business Rules').item.json.case_id }}",
            "urgency": "={{ $('Apply Business Rules').item.json.urgency }}",
            "priority": "={{ $('Apply Business Rules').item.json.priority }}",
            "room_type": "={{ $('Apply Business Rules').item.json.room_type }}",
            "team_email": "={{ $('Apply Business Rules').item.json.team_email }}",
            "total_guests": "={{ $('Apply Business Rules').item.json.total_guests }}",
            "total_nights": "={{ $('Apply Business Rules').item.json.total_nights }}",
            "assigned_team": "={{ $('Apply Business Rules').item.json.assigned_team }}",
            "check_in_date": "={{ $('Apply Business Rules').item.json.check_in_date }}",
            "contact_email": "={{ $('Apply Business Rules').item.json.contact_email }}",
            "contact_phone": "={{ $('Apply Business Rules').item.json.contact_phone }}",
            "check_out_date": "={{ $('Apply Business Rules').item.json.check_out_date }}",
            "contact_person": "={{ $('Apply Business Rules').item.json.contact_person }}",
            "processed_date": "={{ $('Apply Business Rules').item.json.processed_date }}",
            "number_of_rooms": "={{ $('Apply Business Rules').item.json.number_of_rooms }}",
            "original_sender": "={{ $('Get many messages (1)').item.json.from.value[0].address }}",
            "original_subject": "={{ $('Look for incoming emails').item.json.Subject }}",
            "special_requests": "={{ $('Apply Business Rules').item.json.special_requests }}",
            "booking_reference": "={{ $('Apply Business Rules').item.json.booking_reference }}",
            "days_until_checkin": "={{ $('Apply Business Rules').item.json.days_until_checkin }}",
            "travel_agency_name": "={{ $('Apply Business Rules').item.json.travel_agency_name }}"
          },
          "schema": [
            {
              "id": "case_id",
              "type": "string",
              "displayName": "case_id"
            },
            {
              "id": "processed_date",
              "type": "string",
              "displayName": "processed_date"
            },
            {
              "id": "travel_agency_name",
              "type": "string",
              "displayName": "travel_agency_name"
            },
            {
              "id": "contact_person",
              "type": "string",
              "displayName": "contact_person"
            },
            {
              "id": "contact_email",
              "type": "string",
              "displayName": "contact_email"
            },
            {
              "id": "contact_phone",
              "type": "string",
              "displayName": "contact_phone"
            },
            {
              "id": "number_of_rooms",
              "type": "string",
              "displayName": "number_of_rooms"
            },
            {
              "id": "check_in_date",
              "type": "string",
              "displayName": "check_in_date"
            },
            {
              "id": "check_out_date",
              "type": "string",
              "displayName": "check_out_date"
            },
            {
              "id": "total_nights",
              "type": "string",
              "displayName": "total_nights"
            },
            {
              "id": "room_type",
              "type": "string",
              "displayName": "room_type"
            },
            {
              "id": "total_guests",
              "type": "string",
              "displayName": "total_guests"
            },
            {
              "id": "special_requests",
              "type": "string",
              "displayName": "special_requests"
            },
            {
              "id": "booking_reference",
              "type": "string",
              "displayName": "booking_reference"
            },
            {
              "id": "urgency",
              "type": "string",
              "displayName": "urgency"
            },
            {
              "id": "assigned_team",
              "type": "string",
              "displayName": "assigned_team"
            },
            {
              "id": "team_email",
              "type": "string",
              "displayName": "team_email"
            },
            {
              "id": "priority",
              "type": "string",
              "displayName": "priority"
            },
            {
              "id": "status",
              "type": "string",
              "displayName": "status"
            },
            {
              "id": "days_until_checkin",
              "type": "string",
              "displayName": "days_until_checkin"
            },
            {
              "id": "original_sender",
              "type": "string",
              "displayName": "original_sender"
            },
            {
              "id": "original_subject",
              "type": "string",
              "displayName": "original_subject"
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c480ba23-784b-4d0c-a930-5eb43acea018",
      "name": "Append to Cases Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -48,
        720
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json.contact_email }}",
        "subject": "=Booking Request Received - Ref #{{ $json.case_id }}",
        "message": "=<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n\t<div style=\"max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ddd;\">\n\t\t<h2 style=\"color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 10px;\">Booking Request Confirmation</h2>\n\t\t\n\t\t<p>Dear {{ $json.contact_person }},</p>\n\t\t\n\t\t<p>Thank yourself for your booking request. Your reservation has been received and is being processed by our <strong>{{ $json.assigned_team }}</strong>.</p>\n\t\t\n\t\t<div style=\"background-color: #f8f9fa; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n\t\t\t<h3 style=\"color: #2c3e50; margin-top: 0;\">Booking Details</h3>\n\t\t\t<table style=\"width: 100%; border-collapse: collapse;\">\n\t\t\t\t<tr>\n\t\t\t\t\t<td style=\"padding: 5px 0;\"><strong>Case Reference:</strong></td>\n\t\t\t\t\t<td style=\"padding: 5px 0;\">{{ $json.case_id }}</td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t\t<td style=\"padding: 5px 0;\"><strong>Priority:</strong></td>\n\t\t\t\t\t<td style=\"padding: 5px 0;\"><span style=\"background-color: #{{ $json.priority === 'High' ? 'e74c3c' : $json.priority === 'Medium' ? 'f39c12' : '27ae60' }}; color: white; padding: 2px 8px; border-radius: 3px;\">{{ $json.priority }}</span></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t\t<td style=\"padding: 5px 0;\"><strong>Number of Rooms:</strong></td>\n\t\t\t\t\t<td style=\"padding: 5px 0;\">{{ $json.number_of_rooms }}</td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t\t<td style=\"padding: 5px 0;\"><strong>Check-in Date:</strong></td>\n\t\t\t\t\t<td style=\"padding: 5px 0;\">{{ $json.check_in_date }}</td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t\t<td style=\"padding: 5px 0;\"><strong>Check-out Date:</strong></td>\n\t\t\t\t\t<td style=\"padding: 5px 0;\">{{ $json.check_out_date }}</td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t\t<td style=\"padding: 5px 0;\"><strong>Total Nights:</strong></td>\n\t\t\t\t\t<td style=\"padding: 5px 0;\">{{ $json.total_nights }}</td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t\t<td style=\"padding: 5px 0;\"><strong>Total Guests:</strong></td>\n\t\t\t\t\t<td style=\"padding: 5px 0;\">{{ $json.total_guests }}</td>\n\t\t\t\t</tr>\n\t\t\t</table>\n\t\t</div>\n\t\t\n\t\t<p><strong>Status:</strong> {{ $json.status }}</p>\n\t\t<p><strong>Booking Reference:</strong> {{ $json.booking_reference }}</p>\n\t\t\n\t\t<p style=\"margin-top: 20px;\">Our team will review your request and respond within <strong>24 hours</strong>.</p>\n\t\t\n\t\t<p>If you have any questions, please contact us at {{ $json.team_email }}</p>\n\t\t\n\t\t<p style=\"margin-top: 30px;\">Best regards,<br>\n\t\t<strong>Hotel Booking Team</strong></p>\n\t</div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "865c66f9-c845-425a-99d4-024c306846b3",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        208,
        720
      ],
      "webhookId": "ad57867a-a7b8-4c06-a446-cb47bc70da57",
      "typeVersion": 2.1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "expression",
          "value": "={{ $('Configuration: User Settings').item.json.gSheetID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Success Metrics",
          "cachedResultName": "Success Metrics"
        },
        "columns": {
          "value": {
            "case_id": "={{ $('Apply Business Rules').item.json.case_id }}",
            "priority": "={{ $('Apply Business Rules').item.json.priority }}",
            "timestamp": "={{ $today }}",
            "email_sent": "={{ $('Send Confirmation Email').item.json.error ? 'No' : 'Yes' }}",
            "assigned_team": "={{ $('Apply Business Rules').item.json.assigned_team }}",
            "sheets_updated": "Yes",
            "number_of_rooms": "={{ $('Apply Business Rules').item.json.number_of_rooms }}",
            "processing_time_seconds": "={{ Math.round(($execution.startedAt ? (Date.now() - new Date($execution.startedAt).getTime()) / 1000 : 0)) }}"
          },
          "schema": [
            {
              "id": "timestamp",
              "type": "string",
              "displayName": "timestamp"
            },
            {
              "id": "case_id",
              "type": "string",
              "displayName": "case_id"
            },
            {
              "id": "processing_time_seconds",
              "type": "string",
              "displayName": "processing_time_seconds"
            },
            {
              "id": "assigned_team",
              "type": "string",
              "displayName": "assigned_team"
            },
            {
              "id": "priority",
              "type": "string",
              "displayName": "priority"
            },
            {
              "id": "number_of_rooms",
              "type": "string",
              "displayName": "number_of_rooms"
            },
            {
              "id": "email_sent",
              "type": "string",
              "displayName": "email_sent"
            },
            {
              "id": "sheets_updated",
              "type": "string",
              "displayName": "sheets_updated"
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "287324f5-434d-4bdb-9c95-1c52f2cf5d97",
      "name": "Log Success Metrics",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        576,
        720
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-error",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "leftValue": "={{ $json.error_occurred }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "31ea919c-041b-4689-99d0-7672460d7c88",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "position": [
        -1056,
        1264
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Error Notification\n\n![Data Flow Diagram](https://i.postimg.cc/tRvgMXT2/Screenshot-2025-11-07-at-00-54-22.png#full-width)",
        "height": 976,
        "width": 528,
        "color": 2
      },
      "id": "32b13e16-bd3e-497f-b706-9938f46882f8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Confirmation Email\n\n![Data Flow Diagram](https://i.postimg.cc/X7yn1dtV/Screenshot-2025-11-07-at-00-36-19.png#full-width)",
        "height": 592,
        "width": 464,
        "color": 3
      },
      "id": "b2dc9679-1844-462c-accc-a3a6dd4b0d13",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 3. Workflow configuration\n- Add your **google sheet ID*\n- Add the **email address** you want error notifications sent to.",
        "height": 304,
        "width": 256,
        "color": 7
      },
      "id": "cec7e2fc-608c-4bc6-a7cc-0da0b9750c55",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1968,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Validate the data and check for missing values\nChecks for:\n✓ Required fields present (agency, rooms, dates)\n✓ Valid date format (YYYY-MM-DD)\n✓ Check-out after check-in\n✓ No null/empty critical values\nErrors are caught and routed to error handler. ",
        "height": 400,
        "width": 432,
        "color": 7
      },
      "id": "b8c0eea0-84c8-4cf3-ad58-f8808582b391",
      "name": "Sticky Note24",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚠️ Error Handling Flow\n### Any failures are logged and admins are notified",
        "height": 304,
        "width": 640,
        "color": 2
      },
      "id": "095e2f28-a488-4c96-9a1f-d8190c27e12b",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Extract *data from PDF*\n### The Agent extracts the data from the attachment in mail and processes them. \nUses OpenAI GPT-4o-mini with JSON mode to extract:\n- Travel agency name, contact details\n- Room count, dates, guest count\n- Special requests, urgency level\nTemperature set to 0.3 for consistent extraction\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Extract *email body* \n",
        "height": 736,
        "width": 736,
        "color": 4
      },
      "id": "73fa5ef8-ba0f-4a84-9cd7-f183e6332922",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2160,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Mail extraction\n### Extract the mails thats have to do with booking or reservations.\n Filters emails by checking subject line for keywords:\n- \"Booking Request\", \"reservation\", \"room request\", \"accommodation\", \"check-in\", \"booking\"\nUses OR logic - any match proceeds to next step",
        "height": 432,
        "width": 1568,
        "color": 5
      },
      "id": "1a1a63f1-7503-4fdd-98ce-5747ee7d20ff",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2688,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Log to *Case* and *Team Assignment* tables\n**- Make a copy of this sheet:**\nhttps://docs.google.com/spreadsheets/d/1qhUoE4baN5TyO51mD2caYU789XizhXl3UDCCT0v83So/copy",
        "height": 560,
        "width": 1248,
        "color": 3
      },
      "id": "4cc64213-e7be-4c72-9bd8-c44340b9e6b0",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📊 Success Metrics Logger",
        "height": 248,
        "width": 352,
        "color": 6
      },
      "id": "849f79da-207f-4fd1-872e-0505a7ffe4c6",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🏨 Automate hotel booking requests from Gmail to Google Sheets using AI\n### **[Gtaras](https://n8n.io/creators/tarasidis/)**  \n\nThis workflow automates *hotel booking requests that come in through Gmail by instantly extracting data, intelligently routing it to a team, and tracking performance reliably*. it can be useful for hotels, travel agencies, or operations teams that want to avoid data entry. \n\n## How it Works (Core Flow)\n\nThe workflow runs hourly and scans your Gmail inbox for booking-related emails. It then utilizes the **OpenAI (GPT-4o-mini)** to extract key details from either the email body or attached PDFs and validates the fields and dates. Then comes the application of business rules for priority and team allocation based on room count or urgency.\n\n## Benefits of Automating\n\nThe process logs all successful bookings and assignments to Google Sheets across Cases, Team Assignments, and Success Metrics tabs. In the event of any failed extraction, strong error handling ensures the request is logged in the Error Log tab and an administrator is notified, hence ensuring that no request is ever lost.\n\n## ⚙️ Setup Requirements\n**3 Steps Credentials:** \n1) Add your Gmail, Google Sheets, and OpenAI (GPT-4o-mini) account credentials to n8n. \n\n2) Google Sheet: Duplicate the following template (link is available in the workflow description) within your Google Drive account. \n\n3) Configuration: **Update** the central \"Configuration: User Settings\" node with your copied Google Sheet ID and dedicated admin email address where error alerts should be sent.\n\n## 📋 Quick Setup Checklist\n1. ✅ Connect Gmail OAuth2 (Settings → Credentials)\n2. ✅ Connect Google Sheets OAuth2\n3. ✅ Add OpenAI API key\n4. ✅ Create Google Sheet with 4 tabs: Cases, Team Assignments, Error Logs, Success Metrics\n5. ✅ Update Configuration node with your settings\n6. ✅ Test with a sample booking email\n7. ✅ Adjust trigger frequency (default: hourly)",
        "height": 1168,
        "width": 496
      },
      "id": "e47c9e7b-6c92-4a95-b1f7-f2570bd0287b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3216,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚠️ Error Handling Flow\n### Any failures are logged and admins are notified",
        "height": 304,
        "width": 800,
        "color": 2
      },
      "id": "2e9a4ad2-5675-47fd-a717-2a36127a6c58",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6db4312f-4293-462b-a7aa-3b8e7d6a14b0",
      "name": "GEMINI 2.5 FLASH",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -2192,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.3
        }
      },
      "id": "8ca0748d-2565-430b-bf70-5ddc559c8b7f",
      "name": "CHAT GPT 5 mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1760,
        1296
      ],
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "connections": {
    "Guardrails": {
      "main": [
        [
          {
            "node": "Merge Sanitized Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails1": {
      "main": [
        [
          {
            "node": "Configuration: User Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHAT GPT 5 mini": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Model for PDF",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "OpenAI Model for Email Text2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Apply Business Rules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GEMINI 2.5 FLASH": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to Sheet": {
      "main": [
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Extraction": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Business Rules": {
      "main": [
        [
          {
            "node": "Log Team Assignment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Attachment": {
      "main": [
        [
          {
            "node": "Extract Attachment Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Model for Email Text2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Guardrail Check)": {
      "main": [
        [
          {
            "node": "Filter Booking Emails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Invalid Email Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Sanitized Data": {
      "main": [
        [
          {
            "node": "Append to Cases Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model for PDF": {
      "main": [
        [
          {
            "node": "Validate Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Cases Sheet": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Booking Emails": {
      "main": [
        [
          {
            "node": "Check for Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages (1)": {
      "main": [
        [
          {
            "node": "Guardrails1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Attachment Data": {
      "main": [
        [
          {
            "node": "OpenAI Model for PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Invalid Email Error": {
      "main": [
        [
          {
            "node": "Send Invalid Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Log Success Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Invalid Email Error": {
      "main": [
        [
          {
            "node": "Log Invalid Email Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Look for incoming emails": {
      "main": [
        [
          {
            "node": "Get many messages (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration: User Settings": {
      "main": [
        [
          {
            "node": "IF (Guardrail Check)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model for Email Text2": {
      "main": [
        [
          {
            "node": "Validate Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8e655192-6e39-47c6-8620-0fd509c0b6df",
  "meta": {
    "instanceId": "0b4d4d7be3ea3711d799d4193b91b2fc9810c5f560690f4337ed8412849657b6"
  },
  "id": "VyQqWxNQU7qoVopY",
  "tags": []
}