Agent/workflows/telegram/telegram ai bot that uses google gemini chat model (8th copy).json
{
  "name": "telegram ai bot that uses  google gemini chat model",
  "nodes": [
    {
      "parameters": {
        "content": "## 📋 TELEGRAM AI BOT - SETUP GUIDE\n\n### 🎯 What This Workflow Does:\nThis is an intelligent Telegram bot that can:\n- Answer text messages using AI\n- Analyze images sent by users\n- Maintain conversation context/memory\n- Provide formatted, attractive responses\n\n### 🔧 Required Setup:\n\n**1. Telegram Bot Token:**\n   - Create a bot via @BotFather on Telegram\n   - Get your bot token\n   - Add credentials in n8n (Telegram account)\n\n**2. Google Gemini API Key:**\n   - Go to Google AI Studio (ai.google.dev)\n   - Create API key\n   - Add credentials in n8n (Google Gemini API account)\n\n**3. Webhook Configuration:**\n   - Activate the workflow\n   - The webhook URL will be automatically set\n\n### 📊 Workflow Flow:\n1. **Telegram Trigger** receives messages\n2. **Route Types** checks if message is text or image\n3. For text: Direct to AI agent\n4. For images: Download → Analyze → Send to AI agent\n5. **AI Agent** processes with memory context\n6. Response sent back to user\n\n### ⚠️ Important Notes:\n- Memory is per message ID (20 message context)\n- Image analysis uses Gemini 2.5 Flash\n- Responses are formatted for Telegram readability",
        "height": 640,
        "width": 460,
        "color": 4
      },
      "id": "703f9b2e-5563-442b-8b9b-0a83b3578777",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🚀 TRIGGER\nStarts when user sends a message to your Telegram bot.\n\nCaptures both text messages and images.",
        "width": 280,
        "color": 5
      },
      "id": "c71e12d4-73a4-4514-93b8-9f0f736d7dc8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔀 ROUTING\nChecks message type:\n- TEXT: Route to text mapper\n- IMAGE: Route to image handler",
        "height": 140,
        "width": 260,
        "color": 6
      },
      "id": "3bc10595-7830-4916-9430-ccc7a0b5954c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🖼️ IMAGE PROCESSING\n1. Download image from Telegram\n2. Analyze with Gemini Vision\n3. Combine description + caption",
        "height": 380,
        "width": 360,
        "color": 3
      },
      "id": "74bcadad-3086-4ce4-ad71-e943f846a544",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🤖 AI AGENT\nGoogle Gemini processes the request with:\n- Conversation memory (20 messages)\n- Context-aware responses\n- Telegram-friendly formatting",
        "height": 180,
        "width": 300,
        "color": 2
      },
      "id": "3f3b13cd-5d79-4da1-aed7-0170c5b5ab23",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use these Descriptions to reply with a message to the user according to his question simply, shortly, and make sure he understand the thing he attaches:\n\n\"\" {{ $json.text }} \"\"\n\n\nI need your output message to be well spaced and formatted and look as attractive as possible for a telegram response!",
        "options": {
          "systemMessage": ""
        }
      },
      "id": "1e468caa-ad64-4498-ba26-be82f4796905",
      "name": "Knowledge Base Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1456,
        368
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=memory_{{ $('Telegram Trigger').item.json.message.message_id }}",
        "contextWindowLength": 20
      },
      "id": "092e3de8-62b0-47a3-8b5d-7ec1b5cdc372",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1504,
        768
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48af2dcc-4ce9-45fc-abfc-54f803930092",
              "name": "text",
              "type": "string",
              "value": "=User image description:\n\n{{ $json.content.parts[0].text }}\n\nUser image caption: {{ $('Telegram Trigger').item.json.message.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5898b945-9b4d-4ae8-84d9-1a7161eb46b6",
      "name": "Map image prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        1232,
        576
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38aec976-a32c-4b0e-85f4-c90adc16abc9",
              "name": "text",
              "type": "string",
              "value": "={{ $json.messages[0].text.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "af6255bf-8748-4576-9074-4a47909a1917",
      "name": "Map text prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        1008,
        96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2fc5c912-629b-4cbe-b5e3-7e3f0651c628",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "840b95b8-6559-4fb7-b32c-651451d6d0d2",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.photo[2] }}",
                    "rightValue": "image"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "id": "f9f5c34b-d9e1-4bfc-9b6c-135240c9c537",
      "name": "Route Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        560,
        368
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ef65fa06-a36d-4463-a3d7-124873b8be51",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1344,
        768
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "L0a8CV4PqAVFArJZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "a9ee3aa7-7300-4c0c-b962-cd24875db75c",
      "name": "Analyze image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        1008,
        576
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "L0a8CV4PqAVFArJZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "85069545-99c8-4873-bf1f-37db11a878c7",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        336,
        368
      ],
      "webhookId": "049da2eb-7ce1-4efd-820f-6a700adea8b6",
      "typeVersion": 1.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[2].file_id }}",
        "additionalFields": {}
      },
      "id": "7a8c18c9-0142-4315-a540-6e288cdbd56d",
      "name": "Get a file",
      "type": "n8n-nodes-base.telegram",
      "position": [
        784,
        576
      ],
      "webhookId": "d1b193c3-236e-4bed-be47-d0e156960d35",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "66c641cc-a8f2-4d6d-8db2-5674fca42e68",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1808,
        368
      ],
      "webhookId": "53b5dc25-a9ea-47b4-87b7-274984c1115d",
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "connections": {
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Types": {
      "main": [
        [
          {
            "node": "Map text prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Map image prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Map text prompt": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map image prompt": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4eeb8255-d0df-4a65-a010-557a856390ea",
  "meta": {
    "instanceId": "0b4d4d7be3ea3711d799d4193b91b2fc9810c5f560690f4337ed8412849657b6"
  },
  "id": "AqBccpNk2ZXfQI7M",
  "tags": []
}