Agent/workflows/Telegram/Telegram_Academic_Assistant_(Gemini Agent).json
{
  "name": "Academic Assistant Chatbot (Telegram + OpenAI)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "20a2d959-5412-447b-a2c4-7736b6b758b3",
      "name": "Telegram Trigger",
      "position": [
        256,
        208
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "webhookId": "963db747-2e5c-4d4e-aa11-602061783932",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "lRPGqcel4BTX2Jw0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8b30f207-8204-4548-8f51-38c387d98ae9",
      "name": "OpenAI Chat Model",
      "position": [
        656,
        304
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID_HERE",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful and knowledgeable AI academic assistant. Your goal is to assist students with their assignments, studies, and general academic inquiries. Provide explanations, study tips, help with research, clarify concepts, and offer guidance on academic tasks. Be encouraging, precise, and polite. Always ensure your responses are relevant to academic support."
        }
      },
      "id": "68303b67-2203-41e8-b370-220d884d2945",
      "name": "Academic Assistant AI Agent",
      "position": [
        912,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Academic Assistant AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "15bb5fd5-7dfe-4da9-830c-e1d905831640",
      "name": "Send Telegram Response",
      "position": [
        1200,
        208
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "e0283940-5b9e-4ef8-9945-6a6f47c8ef96",
      "credentials": {
        "telegramApi": {
          "id": "lRPGqcel4BTX2Jw0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        448
      ],
      "id": "c3d83a1e-5f31-4c40-8459-e04a4f66c90d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "40BlpNQ0np5cvwsa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Academic Assistant AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Academic Assistant AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Telegram Response",
            "type": "main"
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Academic Assistant AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7a651d5d-5f0c-42d2-b87d-ebf07abbf6fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4962941a77c4da44bac1703396b7ae8536094a036af2f87ba8600ee9720e2d9e"
  },
  "id": "K0TLA1k7P0hL2Ysg",
  "tags": []
}